body{
    font-family: Arial;
    background:#f5f6f9;
    margin:40px;
}

.header h1{
    margin-bottom:5px;
}

.header p{
    color:gray;
}

.jobs{
    margin-top:30px;
}

.job-card{
    background:white;
    padding:25px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.name{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.name p{
    color:gray;
}

.status{
    padding:6px 12px;
    border-radius:20px;
    font-size:14px;
}

.accepted{
    background:#2ecc71;
    color:white;
}
.rejected{
    background: red;
    color: white;
}

.progress-status{
    background:#e0e0e0;
}

.progress{
    display:flex;
    align-items:center;
    margin:25px 0;
}

.step{
    text-align:center;
}

.circle{
    width:30px;
    height:30px;
    border-radius:50%;
    background:#ddd;
    display:flex;
    align-items:center;
    justify-content:center;
}

.done .circle{
    background:#3b82f6;
    color:white;
}

.active .circle{
    border:2px solid #3b82f6;
}

.line{
    height:3px;
    width:80px;
    background:#3b82f6;
}

.gray{
    background:#ccc;
}

.details{
    padding:8px 16px;
    border:none;
    border-radius:6px;
    background:#eee;
    cursor:pointer;
}